.hide {
  display: none;
  /* visibility: hidden; */
}

/* oldSpot meaning it already has reviews */
.display {
  display: inline;
}

.dot {
  display: flex;
}
.fa-circle {
  font-size: 5px;
}

.oldSpot {
  display: inline;
}

.spot-imgs-grid-container {
  display: grid;
  grid-template-columns: 1fr repeat(2, 0.5fr); /* 1fr for padding, 0.5fr each for small photos */
  grid-template-rows: repeat(2, 0.5fr); /* 0.5fr each for small photos */
  gap: 10px; /* Adjust the gap between items as needed */
  width: 100%; /* Full width */
  max-width: 1024px; /* Maximum container width */
  margin: 0px auto; /* Center the container */
  padding: 20px 20px 20px 0;
}

.big-photo {
  grid-row: span 2; /* Occupies 2 grid rows */
  aspect-ratio: 1/1; /* Maintain square aspect ratio */
  width: 100%;
  height: 100%;
}

.small-photo {
  aspect-ratio: 1/1; /* Maintain square aspect ratio */
  width: 100%;
  height: 100%;
}

.spot-description-and-reserve-card {
  display: flex;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.reserve-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-stats {
  margin-bottom: 20px;
}

.padding {
  padding: 0 60px;
}
