.hide {
  display: none;
  /* visibility: hidden; */
}

/* oldSpot meaning it already has reviews */
.display {
  display: inline;
}

.dot {
  display: flex;
}
.fa-circle {
  font-size: 5px;
}

.oldSpot {
  display: inline;
}
