.hide {
  display: none;
  /* visibility: hidden; */
}

/* oldSpot meaning it already has reviews */
.display {
  display: inline;
}

.dot {
  display: flex;
}
.fa-circle {
  font-size: 5px;
}

.oldSpot {
  display: inline;
}

.spot-imgs {
  display: flex;
  flex-direction: row;
}

.four-img {
}

.spot-description-and-reserve-card {
  display: flex;
  border-bottom: 2px solid rgb(195, 194, 194);
}

.reserve-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-stats {
  /* padding-top: 20px; */
}
