/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-frame {
  border: 5px solid grey;
}

.components-border {
  border: 1px rgb(206, 117, 53) solid;
  padding: 50px;
}

/* .buttons-container {
  border: 2px solid black;
  text-align: center;
  background-color: burlywood;
} */

.button {
  color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 0px black;
}

.small {
  padding: 5px;
}

.big {
  padding: 10px 100px;
}

.errors {
  color: tomato;
}

.disabled {
  background-color: lightgray;
}

.red {
  background-color: tomato;
}

.grey {
  background-color: grey;
}

.center-children {
  text-align: center;
}

.center-self {
  display: block;
  margin: auto;
}

ul {
  list-style-type: none;
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
}
