/* TODO Add site wide styles */
/* .app-frame {
  border: 5px solid grey;
} */

.components-border {
  border: 3px rgb(198, 77, 77) solid;
  padding: 50px;
}

/* .buttons-container {
  border: 2px solid black;
  text-align: center;
  background-color: burlywood;
} */

.red-button {
  background-color: tomato;
  color: white;
  padding: 10px 100px;
}

.center-children {
  text-align: center;
}

.center-self {
  display: block;
  margin: auto;
}

ul {
  list-style-type: none;
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}
